/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 *
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.vbtns .btn, .vbtns .btn-large {
    width: 200px;
}
.btn-rnd {
    border-radius: 30px;
    text-transform: none;
}
.font-green {
    color: #12c5a2;
}
